.abody {
	text-align: center;
	background-color: ghostwhite;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	position: fixed;
	width: 100%;
	font-family: "Roboto Mono", monospace;
}
canvas {
	background-color: transparent;
	position: absolute;
}
video {
	position: absolute;
	background-color: black;
	object-fit: fill;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg);
}

.gameCanvas {
	width: 1000px;
	height: 500px;
	position: relative;
	top: 0px;
	left: 0px;
}

.main_div {
	flex-direction: column;
}
