.abody {
	text-align: center;
	background-color: ghostwhite;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	position: fixed;
	width: 100%;
	font-family: "Roboto Mono", monospace;
}
canvas {
	position: absolute;
}
video {
	position: absolute;
	background-color: black;
	object-fit: fill;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg);
}

.gameCanvas {
	position: absolute;
	background-color: transparent;
	z-index: 5;
}
.gameBackground {
	position: absolute;
	background-color: black;
}
.emojiDisplay {
	position: absolute;
	margin-left: 400px;
	margin-top: 200px;
	color: white;
	font-size: 100px;
	z-index: 4;
}

.main_div {
	flex-direction: column;
}
