<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Real Time Sensor Display Using Python, Flask, Flask-SocketIO</title>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
			integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
			integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
			crossorigin="anonymous"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
		<link
			href="//mincss.com/entireframework.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="{{url_for('static', filename = 'css/app.css')}}"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="main_div">
			<h1>Camera Pong</h1>
			<div width="100wv">
				<video id="camera" width="1000" height="500" autoplay></video>
			</div>
			<canvas id="gameCanvas" width="1000" height="500"></canvas>
			<p>press to play</p>
		</div>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename = 'js/app.js') }}"
		></script>
	</body>
</html>
